.screen-store-map
  display: flex
  flex-direction: column
  background: #fff
  height: 100%
  backgroud white
  overflow: auto
  .submit
    display: flex
    justify-content center
    align-items center
    .submit-btn
      background: #1676FF
      color: white
      position: fixed;
      bottom 40px
      width 300px
      border-radius 20px

  .input-wrapper
    display: flex
    flex-direction: column

    .info-title
      font-size: 16px
      font-weight: 500
      
    .info-content
      border: 1px solid #ccc
      border-radius: 6px
      margin 5px 0

    .am-input-item
      .am-list-line
        .am-input-control
          input
            font-size: 14px
            font-weight: 400  

    .reset-btn
      border: 1px solid #1676FF
      color: #1676FF

    .cancel-btn
      margin-top: 14px

