.screen-bank-info
  width: 100%
  background #F5F5F5
  display: flex
  justify-content: center
  

  .bank-info-main
    margin-top: 10px
    box-sizing: border-box
    padding: 10px 0 45px 0
    background #fff
    width 95%
    border-radius 5px

    .bank-info-item
      max-width: 100%
      font-size 13px 
      margin-left: 13px
      padding: 15px 0
      overflow hidden
      border-bottom: 1px solid #ececec
      color: #363636
      font-weight 400
      font-family: PingFangSC-Regular, PingFang SC
      
      .bank-info-label
        float left
        width 102px
       
      .bank-info-con
        float left
      
      .bank-info-con-block
        @import '@src/cpts/screens/ScreenBankInfo/cpts/Upload/style.styl'
        float left
        padding-top: 10px
        width: 100%
        margin: 0 auto
       
        &.special
          display: flex
          justify-content: space-around

        .block-type6
          width 323px
          height: 200px

        .block-type7
          width: 156px
          height: 100px
 
 