<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title><%= title %></title>
    <meta name="format-detection" content="telephone=yes">
    <script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=03hnYPHgsvDfSXFvGsDxbLWKOTtwbb2i"></script>
    <script>
      window.BMap = BMap
    </script>

</head>
<body>
<div id="app"></div>
</body>