.screen-orders-detail
  min-height 100%
  background #F4F5F6
  @import './cpts/Sifting/style.styl'

  .fz11
    font-size: 11px;

  .fz13
    font-size: 13px;

  .fz17
    font-size: 17px;
    
  .fz26
    font-size: 26px;

  .color334
    color: #323334;

  .color636
    color: #363636

  .color030
    color: #303030

  .color300
    color: #FE1300

  .color6FF
    color: #1676FF
  
  .colorA27
    color: #3A9A27

  .color190
    color: #838190

  .fw600
    font-weight: 600;

  .fw400
    font-weight: 400;

  .lh27.5
    line-height 27.5px

  .ml5
    margin-left 5px

  .w5.5h10
    width 5.5px
  .head-bar
    background white
    text-align center
    font-size 16px
    height 39px
    line-height 39px
    width 100%
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 0px 0px 17px 17px;

    img
      width 14px
      height 14px

    .head-bar-time
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;

  .main
    margin 0 15px

    .remind
      margin-top 20px
      margin-bottom 20px
      display flex
      justify-content center
      align-items center
      background: #FFF6C0;
      border-radius: 15px;
      height: 27.5px;
      font-size: 12px;

      .remind-detail
        color: #7F723D;
        line-height 27.5px
       
    .number
      display flex
      justify-content space-between
      align-items center
      margin 0px 7px
        

    .order-item
      background white
      padding 10px 0px 0px 0px
      border-top 1px solid whitesmoke
      border-radius: 7px;
      margin-top 20px
      
      .top 
        border-bottom 1px solid #E8E8E8
        height 45px

      .bottom 
        height 52px

      .order-description
        display flex
        justify-content space-between
        align-items center
        margin-left 15px
        padding-right 15px

      .order-title
        font-weight 500

      .order-status
        font-weight 400
        font-size: 14px;

      .order-time
        display flex
        align-items center
        font-size 13px
        color #9c9c9c

        .deal-type
          color white
          background #FD6431
          padding 2px 5px
          margin-left 10px
          border-radius 20px
          transform-origin center
          transform scale(0.9)
          font-weight 400

      .order-price
        color #FE1300
        font-weight: 600;
        font-size: 17px;

.am-modal-wrap-popup
  .am-modal-content
    border-radius: 11px 11px 0px 0px;
    .am-modal-body
      background: #FFFFFF;
      height 560px
      position: relative
      

      .modal-header
        position: relative
        display flex
        justify-content center
        margin-top 21px
        margin-bottom 26px

        .modal-header-img
          position: absolute;
          right 15px
          top 5px

        .modal-header-title
          font-size: 17px;
          font-weight: 600;
          color: #363636;

      .modal-content
        margin-left 12.5px
        margin-right 12.5px

        .modal-state
          width 100%
          .modal-state-title
            font-size: 16px;
            font-weight: 600;
            color: #363636;
            text-align left
            margin-bottom 10px
            
          .modal-state-main
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-left 11px
            grid-column-gap: 10px;
            grid-row-gap: 10px;

            .modal-state-main-list
              height: 35px;
              border-radius: 17.5px;
              text-align center
              line-height 35px
              font-size: 14px;
              font-weight: 400;

            .modal-state-main-list-click
              background: #1676FF;
              color: #FFFFFF;

            .modal-state-main-list-noclick
              background: #F6F6F6;
              color: #363636;

        .modal-tabs
          margin-top 30px
          width 100%

          .modal-time
            margin-top 11px

            .modal-time-title
              font-size: 16px;
              font-weight: 600;
              color: #363636;
              text-align left
              
            .modal-time-main
              width 100%
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              grid-column-gap: 10px;
              grid-row-gap: 10px;

              .modal-time-main-list
                height: 35px;
                border-radius: 17.5px;
                text-align center
                line-height 35px
                font-size: 14px;
                font-weight: 400;

              .modal-time-main-list-click
                background: #1676FF;
                color: #FFFFFF;
              
              .modal-time-main-list-noclick
                background: #F6F6F6;
                color: #363636;

          .modal-time-interval
            margin-top 11px
            display flex
            justify-content start
            align-items center

            .modal-time-interval-button
              width: 110px;
              height: 35px;
              background: #F6F6F6;
              border-radius: 17px;
              line-height 35px

            .modal-time-interval-divider
              width: 18px;
              height: 1.5px;
              background: #969696;
              margin 0px 5.5px

        .modal-handle
          position: absolute;
          bottom 40px
          right 12.5px
          left 12.5px
          height 45px
          
          .modal-handleall
            display: grid;
            grid-template-columns: 1fr 1fr;

            .modal-handle-main
              background-repeat: no-repeat;
              line-height 40px; 
              font-size: 17px;
              font-weight: 600;
              background-size cover
              
        

       