.screen-password
  height 100%
  background #F5F5F5
  overflow auto

  .password-main
    background: #fff
    width 90vw
    margin auto
    padding-bottom: 30px
    .am-list
        margin-top 15px
      .am-input-label
        font-size 14px
        font-weight 500
      .am-input-control
        input
          font-size 14px
          font-weight 500
    .screen-password-tips
      width 100%
      font-size 12px
      padding 15px
      box-sizing border-box
      color: #9c9c9c
      font-weight: 400
    .btn
      width 250px
      height 44px
      margin 0 auto
      font-size: 16px
      font-weight: 400
      background: #1676FF
      color: #fff