.screenBusinessTime-list
  height 100%
  background #F4F5F6
  padding-top: 10px
  box-sizing: border-box

  .item 
    height 50px
    background #fff
  .flex-h
    display: flex
    flex-flow: row nowrap
    .showTime
      margin-left 30px
  .am-list-item
    .am-list-line
      .am-list-content
        font-size: 14px
        color: #9c9c9c
        font-weight: 400
      .am-list-extra
        font-size: 14px
        font-weight: 400
        color: #363636
      .am-list-arrow
        width 8px
        height 13px
  .button
    width 90%
    margin 20px auto 0
    background: #1676FF
    color: #fff
    font-size: 16px