.screen-store-info
  display: flex
  flex-direction: column
  background: #fff
  min-height: 100%
  backgroud white
  overflow: auto
  margin-bottom 15px

  .input-wrapper
    display: flex
    flex-direction: column

    .info-title
      font-size: 16px
      font-weight: 500
      
    .info-content
      border-bottom: 1px solid #ECECEC
      margin 5px 0
      .am-list-content
        font-size: 14px
        font-weight: 400
        color: #363636;
      .am-list-extra
        font-size: 14px
        font-weight: 400
        
    .info-address
      display: flex
      padding-left:15px
      align-items: center 

      .info-address-title
        font-size: 14px
        font-weight: 400
        color: #363636;

      .info-address-update
        font-weight: 400;
        color: #0076FB;
        font-size: 12px
        padding-left:15px

    .map
      padding:15px

    .image
      height 208px
      .am-image-picker-list
        height 208px
        .am-flexbox
          height 208px
          .am-flexbox-item
            height 208px
            .am-image-picker-upload-btn
              height 208px
        

    .am-input-item
      .am-list-line
        .am-input-control
          input
            font-size: 14px
            font-weight: 400
            color: #363636;
        .am-input-label
          color: #363636;
          font-size: 14px;
          font-weight: 400;
  .submit-content
    width: 250px
    margin 30px auto 0

    .submit-btn
      background: #1676FF
      color: white
      margin-bottom: 10px

    .reset-btn
      border: 1px solid #1676FF
      color: #1676FF

    .cancel-btn
      margin-top: 14px

