.screen-error-verify
  height 100vh
  background #fff
  overflow hidden

  .image-item
    position relative
    margin-top 30px
    text-align center

  .default-img
    width 345px
    height 215px
    position absolute
    top 0px
    left 50%
    transform translateX(-50%)

  .tip
    position absolute
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #1676FF;
    top 140px
    left 50%
    width 288px
    transform translateX(-50%)

    .red-text
      color #FE1300

  .result
    text-align center

    .title
      font-size: 19px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #1676FF;
      line-height: 19px;

    .detail
      font-size: 16px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #363636;
      
    .hr
      width: 345px;
      height: 1px;
      background: #eee;
      margin 30px auto;

    .img
      width 370px

  .submit-btn
    width: 335px;
    height: 44px;
    background: #1676FF;
    border-radius: 6px;
    margin 20px auto 0 auto
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 44px;
    text-align center
    position relative
    z-index 999
    border none 
    left 50%
    transform translateX(-50%)

  .bottom-text
    text-align center
    span 
      font-size: 15px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #838190;
      vertical-align: top
      margin-left 3px
    img 
      width 15px
      height 15px
      
.am-image-picker-upload-btn
  background rgba(255, 255, 255, 0) !important
  color white !important
  top 100px !important
  height 215px !important
  z-index 5
  color white !important
  border none !important

.am-image-picker-list .am-image-picker-upload-btn:before, .am-image-picker-list .am-image-picker-upload-btn:after
  background rgba(255, 255, 255, 0) !important
  
