.screen-service-detail
  background #F4F5F6
  min-height calc(100%)
  .service-detail-main
    background white
    overflow auto
    min-height calc(100% - 20px)
    padding 0 10px
    margin 0 10px
    box-sizing content-box

    .item-label
      font-weight 600
      margin 20px 0 10px 0

    .item-content
      margin 10px 0 
      .am-tag
        border-radius 25px
        line-height 25px
        padding 0
      .am-tag-normal
        background #1676FF
        color #fff
      .am-tag-active::before
        border: 1px solid #1676FF
        border-radius 25px
      .am-tag-text
        padding 0 10px
    .item-content-title
      height 42px 
      line-height 42px
      margin 5px 0 
      border 1px solid #dfdfdf
      border-radius 12px
      padding 0 10px
      strong
        color #9c9c9c 
      span
        margin-left 20px
      .span-mid
        margin-left 34px
    .item-content-des
      border 1px solid #dfdfdf
      border-radius 12px
      padding 10px 10px
      height  88px
      font-size 13px
      margin-bottom 20px




