.screen-service-list
  height 100%
  background #fff

  .service-list-tabtcontent
    .am-list-content
      font-weight 900
    .am-list-extra
      color #108ee9
      font-weight 500

  .screen-service-btn
    height 47px

  .am-tabs
    height calc(100% - 47px)
      
