.screen-withdrawal-confirm
  background #F5F5F5
  height: 100vh

  .bank-info-head
    width 135px
    margin 0 auto
    height 115px
    text-align: center
    font-size: 14px
    font-weight: 400
    color #323334
    div
      font-weight: 600
      color #FE1300
      font-size: 17px
      padding 30px 0 10px
      box-sizing: border-box
      span 
        font-weight: 600
        font-size: 35px

    .am-notice-bar
      font-size 12px
      color: #FE1300
      font-weight: 400
      background: #FFEFE4
  
  .bank-info-main
    margin 0 auto
    width 95%

    .am-list
      
      .am-list-body
        &::before
          display: none
        &::after
          display: none
        
        .am-list-item
          border-radius: 7px
          
          .am-input-label
            font-size: 13px
            font-weight: 400;
            color: #363636;
          
          .am-input-control
            input
              font-size: 13px
              font-weight: 400;
              color: #363636;
          
          .am-input-extra
            color: #1676FF    
  
  .bank-info-foot
    p
      width 182px
      margin 0 auto
      font-size: 12px
      font-weight: 400
      span 
        color #1676FF
        font-weight: 400

    .am-button
      width 90%
      height 44px
      border-radius: 22px
      background #1676FF
      color #fff
      font-size: 16px
      font-weight: 400
      margin 60px auto 10px
      line-height: 44px