.screen-holiday
  display: flex
  flex-direction: column
  padding-top: 10px
  height: 100%
  background: #F4F5F6
  box-sizing: border-box

  .am-list-item
    .am-list-line
      .am-list-content
        font-size: 14px
        color: #9c9c9c
        font-weight: 400
      .am-list-extra
        font-size: 14px
        font-weight: 400
        color: #363636
      .am-list-arrow
        width 8px
        height 13px

  .btn
    background: #1676FF
    margin-top: 20px
    margin-left: 10px
    margin-right: 10px
    color: white
    font-size: 16px