.screen-all-order-list
  height: 100vh
  background: #fff
  .screenAllOrders-list
    .item 
      height: 80px
    .flex-h
      display: flex
      flex-flow: row nowrap

    .am-list-item
      .am-list-line
        .am-list-content
          font-size: 15px
          font-weight: 400
          .am-list-brief
            font-size: 14px
            color: #9c9c9c
        .am-list-extra
          color: #1676FF
          font-size: 14px
          font-weight: 400