.screen-withdrawal-list
  @import '@src/cpts/screens/ScreenWithdrawalList/cpts/RecordItem/style.styl'
  @import '@src/cpts/screens/ScreenWithdrawalList/cpts/Tabs/style.styl'
  width: 100%
  height: 100%
  background: #F5F5F5
  position: relative
  overflow: auto

  .withdrawl-other-wrap
    width: 100%
    height: 43px
    display: flex
    justify-content: center
    align-items: center
    span
      font-size: 12px
      font-family: PingFangSC-Regular, PingFang SC
      
      &:nth-child(1)
        color: #323334

      &:nth-child(2)
        color: #2D83FD

  .content-wrap
    width: 100%
    box-sizing: border-box
    overflow: auto
    padding  0 12px
    background: none

    .content-list
      width: 100%
      padding-top: 9px
      background-color #fff
      border-radius: 7px
      padding-bottom: 12px

      
