.screen-setting
  display: flex
  flex-direction: column
  height: 100vh
  background: #fff

  .am-list-line
    .am-list-content
      font-size: 14px
      font-weight: 400
    .am-list-arrow
      width 6px
      height 10px